+b.section_theme_dark
    +b.container.inner
      +e.header
        +b.H1.title._align_center._size_lg._color_white contabilizare 5.0
        +b.SPAN.subtitle._align_center._color_white Ознакомьтесь с нашим новым предложением
      +e.body
        +b.thumbnails
          each item in thumbnails_cont
            +e.item
              +e.image-box
                +e.IMG.image(src=item.img)
              if item.video
                +e.A.button.button._theme_3d-reverse._size_m.js-video-open(href=item.link data-target=item.video)= item.text
              else
                if item.class
                  +e.A.button.button._theme_3d-reverse._size_m(href=item.link class=item.class data-src=item.dataSrc)= item.text  
                else
                  +e.A.button.button._theme_3d-reverse._size_m(href=item.link)= item.text  